/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    padding-bottom: 11rem;
} */

.containerFooter {
  background-color: #424242;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 1.4rem;
  width: 100%;
  height: 11rem;
  bottom: 0;
  color: #fff;
  position: fixed;
  padding: 10px;
}

.contContact {
  background-color: rgb(247, 236, 238);
  color: black;
  text-align: center;
  margin-top: 0.6rem;
  width: 31.3%;
  height: 7.8rem;
  border-radius: 10px;
  box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.contAbout {
  background-color: rgb(247, 236, 238);
  color: black;
  text-align: center;
  margin-top: 0.6rem;
  width: 31.3%;
  height: 7.8rem;
  border-radius: 10px;
  box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.contNutrition {
  background-color: rgb(247, 236, 238);
  color: black;
  text-align: center;
  margin-top: 0.6rem;
  width: 31.3%;
  height: 7.8rem;
  border-radius: 10px;
  box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.contCopyright {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10px;
  /* height: 1rem; */
}

.contNetworks {
  /* background-color: rgba(255, 0, 0, 0.309); */
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 0 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 3.8rem;
}

.contNetworks img {
  cursor: pointer;
  width: 2rem;
  height: auto;
  object-fit: cover;
}

div h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

div h3 {
  cursor: pointer;
}
