.t1 {
  font-size: 30px;
  color: #333;
  text-align: center;
  margin: 20px auto;
}

.t2 {
  font-size: 25px;
  color: #333;
  text-align: center;
  margin: 20px auto;
}

.t3 {
  font-size: 20px;
  color: #333;
  text-align: center;
  margin: 20px auto;
}
.terms {
  font-size: 14px;
  color: #333;
  text-align: center;
  margin: 20px auto;
}

.termsOfService:before {
  content: "\1F4D6";
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
}

.privacy:before {
  content: "\1F512";
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
}
